@font-face {
  font-family: 'RuneScape';
  src: url('runescape_bold.ttf') format('truetype'),
       url('runescape.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --rs-green: #00ff00;
  --rs-black: #000;
  --rs-white: #fff;
}

body {
  text-align: center;
  font-size: 16px;
  font-family: 'RuneScape', sans-serif;
  background-color: #222;
  color: var(--rs-white);
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.hint {
  font-size: 16px;
  margin-bottom: 20px;
}

body, h1 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  text-rendering: optimizeSpeed;
}

#loading {
  background-color: var(--rs-black);
  border: 1px solid var(--rs-white);
  color: var(--rs-white);
  display: inline-block;
  left: 10px;
  margin: 10px auto;
  padding: 5px;
  position: fixed;
  top: 10px;
  width: 360px;
}

#result {
  margin-top: 40px;
}

#result p {
  margin-bottom: 10px;
}

#result .green {
  color: var(--rs-green);
  text-decoration: underline;
}

.minotaurs-killed {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.minotaurs-per-day {
  background-color: var(--rs-black);
  border: 1px solid var(--rs-white);
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  margin-top: 10px;
}

.spoiler {
  background-color: var(--rs-black);
  color: var(--rs-white);
  border: 1px solid var(--rs-white);
  padding: 0 5px;
  cursor: pointer;
}

.spoiler.revealed {
  color: var(--rs-green);
}

img {
  max-width: 100%;
  height: auto;
}