@font-face {
  font-family: 'RuneScape';
  src: url('runescape_bold.ttf') format('truetype'),
       url('runescape.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --rs-green: #00ff00;
}

body {
  text-align: center;
  font-size: 16px;
  font-family: 'RuneScape', sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

h1 {
  font-size: 56px;
}

body, h1 {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  text-rendering: optimizeSpeed;
}

#loading {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  left: 10px;
  margin: 10px auto;
  padding: 5px;
  position: fixed;
  top: 10px;
  width: 360px;
}

#result {
  margin-top: 40px;
}

#result p {
  margin-bottom: 10px;
}

#result .green {
  color: var(--rs-green);
  text-decoration: underline;
}

.minotaurs-killed {
  position: relative;
}

.minotaurs-per-day {
  background-color: #000;
  border: 1px solid #fff;
  display: none;
  left: 50%;
  padding: 5px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}

.minotaurs-killed:hover .minotaurs-per-day {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}